:root{
    --cinza-azulado: rgb(26, 29, 41);
    --preto: rgb(18, 20, 19);
    --branco: rgb(242, 242, 242) ;
    --laranja: #ffc35b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

body {
    background-color: var(--cinza-azulado);
    color: var(--branco);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0;
}

/*Formatações gerais:  listas, links, títulos e imagem*/

ul{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
}

a:hover{
    color: var(--laranja);
    transition: color .4s;
}

strong{
    color: var(--laranja);
}

img{
   border-radius: 10px; 
}


/*Header*/
header {
    background: linear-gradient(to bottom, rgb(18, 20, 19), transparent);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
    z-index: 999;
    position: fixed;
    width: 100%;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    text-align: right;
}

/*Main*/
.main-content{
    margin: 0;
    padding-top: 300px;
    padding-right: 20%;
}

.owl-carousel p, .owl-carousel h2, .owl-carousel h3 {
    font-size: 0.9rem;
}

.owl-carousel h2, .owl-carousel h3, .owl-carousel p {
    text-align: center;
    align-items: center;
}

.sinopse{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    align-self: flex-end; /* Alinha o item (imagem) no fundo da div */
}

/*Rodapé*/
footer{
margin-top: 180px;
background: linear-gradient(to top, rgb(18, 20, 19), transparent);
font-size: 0.75rem;
text-align: center;
margin-top: 180px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
position: relative;
}
