@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

:root{
    --bluish-gray: #1a1d29;
    --black: #121413;
    --white: #f2f2f2 ;
    --orange: #ffc35b;
}

/*---------------------
Global
---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--bluish-gray);
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--white);
    line-height: 1.5;
}

.icon { margin: 0 10px 0 0;}

/*---------------------
Header
---------------------*/
.banner {
    border-top-left-radius:  20px;
    border-top-right-radius: 20px;

    background: linear-gradient(to bottom, rgb(18, 20, 19), transparent);
    
    font-size: 0.875rem;
    
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
    z-index: 3;
}

    .banner__acessibilities-dropdown {
        list-style: none;
    }

    .banner__acessibilities { cursor: pointer }

    .banner__buttons {
        list-style: none;
    }

    .banner__btn {
        background-color: var(--black);

        border-radius: 3px;

        color: var(--white);

        cursor: pointer;

        transition: color 0.8s ease;
    }

    .banner__btn:hover {
        color: var(--orange);

        scale: 1.1;
    }

    .banner__btn:focus {
        border: 3px solid var(--orange);

        color: var(--orange);

        scale: 1.1;
    }
 
    
    .banner__logo-container {
        text-decoration: none;
    }

    .banner__logo-container:visited,
    .banner__logo-container:hover {
        color: var(--white);
        text-decoration: none;
    }
    .banner__logo {
        width: 150px;

        font-family: 'Bebas Neue', sans-serif;
        font-size: 2rem;
        font-weight: 400;
        color: var(--white);
        line-height: 1;
    }

    .banner__link { 
        color: inherit;
        text-decoration: none;
    }

    .banner__link:visited { 
        color: inherit;
    }

    .banner__link:hover, .banner__link:focus { 
        background-color: var(--orange);
        color: var(--bluish-gray);
        font-weight: bold;
    }

    .banner__logo--small {
        font-size: 0.75rem;
    }

    .banner__menu { 
        position: relative;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .banner__menu-toggle {
        --s: 15px; /* controla o tamanho */
        --c: #f2f2f2; /* define a cor */

        position: relative;
        
        height: var(--s);
        aspect-ratio: 1;
        border: none;
        padding: 0;
        border-inline: calc(var(--s)/2) solid #0000; 
        box-sizing: content-box;
        --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
            no-repeat content-box border-box;
        --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
            repeat-y content-box border-box;
        background: 
        var(--_g2) left  var(--_p,0px) top,
        var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
        var(--_g2) right var(--_p,0px) top,
        var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
        background-size: 
        20%  80%,
        40% 100%;
        position: relative;
        clip-path: inset(0 25%);
        -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
        cursor: pointer;
        transition: 
        background-position .3s var(--_s,.3s), 
        clip-path 0s var(--_s,.6s);
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }

        .banner__menu-toggle:before,
        .banner__menu-toggle:after {
            content:"";
            position: absolute;

            border-radius: var(--s);
            inset: 40% 0;

            background: var(--c);

            transition: transform .3s calc(.3s - var(--_s,.3s));
        }
    
        .banner__menu-toggle:checked {
            clip-path: inset(0);
            --_p: calc(-1*var(--s));
            --_s: 0s;
        }

            .banner__menu-toggle:checked:before { transform: rotate(45deg); }

            .banner__menu-toggle:checked:after  { transform: rotate(-45deg); }

            .banner__menu-toggle:focus-visible {
                border: none;
                outline: 2px solid var(--c);
                outline-offset: 5px;
                
                clip-path: none;
                -webkit-mask: none; 
            }
    
    
    .banner__menu-label { cursor: pointer;}

    .banner__menu-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        width: 180px;
        padding: 10px;
        margin: 0 auto;
        box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);

        border: 2px solid var(--jet-black-color);
        border-radius: 5px;

        background-color: var(--bluish-gray);

        list-style: none;

        z-index: 2;
    }


    .banner__menu-item {
        margin: 10px;
    }
   
    .banner__menu-toggle:checked +
    .banner__menu-label +
    .banner__menu-dropdown  {
            display: block;
        }

/*----------------
Main
----------------*/

    .content__info {  margin: 30px 0;  }

    .content__title {
        margin:10px 0;
    }

    .content__text {
        margin: 7.5px 0;

        text-indent: 40px;
    }

    .content__link {
        color: var(--orange);
        text-decoration: none;

        transition: color 0.8s ease;
    }

    .content__img { border-radius: 5px; }

    .content__link:hover,
    .content__link:focus {
        color: var(--white);

        text-decoration: underline;
    }

    .content__info .owl-carousel .content__link { cursor:grab; }


/*----------------
Footer
----------------*/
.social-media {   
    margin: 5px;

    border-bottom-left-radius:  20px;
    border-bottom-right-radius: 20px;

    background: linear-gradient(to top, rgb(18, 20, 19), transparent);

    font-size: 0.75rem;
    text-align: center;
}

    .social-media__copyright p {
        margin: 7.5px;
    }

    .social-media__contacts { 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        list-style: none;
     }

    .social-media__link {
        margin: 20px;
        color: var(--orange);
        text-decoration: none;

        transition: color 0.8s ease;
    }

    .social-media__link:hover,
    .social-media__link:focus {
        background-color: var(--orange);

        color: var(--black);
    }
